.project
.classpath
.lein-deps-sum
.lein-repl-history
.lein-failures
.nrepl-port
.pydevproject
pom.xml
bin
classes
checkouts
test-output
target
lib
tmp/*
*.pyc
.nrepl-history
mapping*.json

## editor files
*~
\#*
.\#*
*.swp
*.swo

## intellij files
.idea
sm.iml

## for plugin settings like counter-clockwise
.settings

## ssh key files
.ssh/*
!.ssh/README
